html,body{
  font-family: monospace;
}
body{
  background-color: #e9e9e9 !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex-container{
   display: flex;
   flex-direction: column;
}
 .swal-overlay {
  background-color: #1a1433;
}
.swal-modal {
 background-color: #31313180;
 border: 3px solid#48d8dd;
}
.swal-title {
 margin: 0px;
 font-size: 32px;
 filter: drop-shadow(2px 2px 2px #000000);
 border-bottom: solid 2px #48d8dd;
 color: #cedd48;
 letter-spacing: 1px;
 word-spacing: 1px;
}
.swal-text {
 font-size: 22px;
 padding: 15px;
 padding-left: 10px;
 display: block;
 margin: 22px;
 margin-bottom: 0;
 text-align: left;
 color: #cedd48;
 filter: drop-shadow(1px 1px 1px #0a0061);
 letter-spacing: 1px;
}
.swal-footer {
  background-color: #31313180;
  margin-top: 32px;
  border-top: 2px solid #48d8dd;
  overflow: hidden;
}
.swal-button {
  color:#000000;
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #cedd48;
  font-size: 15px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px #00000080;
  letter-spacing: 2px;
}
.swal-button:hover{
  color: #cedd48;
  background-color: #401455 !important;
  text-shadow: 1px 1px #000000;
}
.flex-container .server-table{
  margin: 30px;
  border: groove 5px #313131;
  padding: 5px;
  background-color: #f1d94eb7;
}
.flex-container .control-set{
  background-color: #313131;
  margin: 30px;
  border: groove 5px #313131;
  padding: 5px;
}
.flex-container